{% extends 'base_app.html.twig' %}

{% block body %}
    <h1> This is Proxy page </h1>

    <div class="container">
        <div class="row">
            <div class="col col-lg-5">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    {% if weather is defined %}
        {% if weather is not empty %}
            <div class="container">
                <div class="row">
                    <div class="col col-lg-5">
                        <h2>Name: {{ weather.name }}</h2>
                        <p>Description: {{ weather.description }}</p>
                        <p>Temparature: {{ weather.temparature }} ℃</p>
                        <p>Pressure: {{ weather.pressure }} hPa</p>
                        <p>Humidity: {{ weather.humidity }} %</p>
                        <p>Speed: {{ weather.speed }} meter/sec </p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col col-lg-5">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error </strong> Unable to find the City
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}