<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if home is defined %} active {% endif %}">
                <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item {% if slider is defined %} active {% endif %}">
                <a class="nav-link" href="{{ path('app_slider') }}">Slider Task</a>
            </li>
            <li class="nav-item {% if highlight is defined %} active {% endif %}">
                <a class="nav-link" href="{{ path('app_highlighter') }}">HighLight Task</a>
            </li>
            <li class="nav-item {% if proxy is defined %} active {% endif %}">
                <a class="nav-link" href="{{ path('app_proxy') }}">Proxy Task</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
        </ul>
    </div>
</nav>
