{% extends 'base_app.html.twig' %}

{% block stylesheets %}
    <style>
        .carousel-caption {
            background: none !important;
        }
    </style>
{% endblock %}

{% block body %}
    <br>
    <br>

    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                {% for key,project in projects %}
                    <li data-target="#demo" data-slide-to="{{ key }}" {% if key == 0 %}class="active">{% endif %}></li>
                {% endfor %}
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                {% for key,project in projects %}
                    <div class="carousel-item {% if key==0 %} active {% endif %}">
                        <img src="{{ project.url }}" alt="{{ project.title }}" width="1100" height="500">
                        <div class="carousel-caption">
                            <h1>{{ project.title }}</h1>
                            <p>{{ project.description }}.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
{% endblock %}